In [1]:
import sys
sys.path.insert(1, "../src/features")
import pandas as pd
import data_cleaning
# import data_for_modelling

# allows all columns to be displayed
pd.set_option('display.max_columns', None)

In [20]:
OFFER_DATA_DIR = "../test/testdata/offers.csv"
ORDER_DATA_DIR = "../test/testdata/orders.csv"

offers = pd.read_csv(OFFER_DATA_DIR)
orders = pd.read_csv(ORDER_DATA_DIR)

In [21]:
offers

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID
0,carrier1,"[\r\n ""order1"",\r\n ""order2""\r\n]",2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True
1,carrier1,"[\r\n ""order2"",\r\n ""order3""\r\n]",2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True
2,carrier2,"[\r\n ""order1""\r\n]",2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True
3,carrier3,"[\r\n ""order3""\r\n]",2017-02-20 08:57:40,9159.0,pool,False,True,False,True,False,False,True,False,True
4,carrier2,"[\r\n ""order4""\r\n]",2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True
5,carrier2,"[\r\n ""order5""\r\n]",2017-02-13 08:51:32,9288.0,quote,False,False,False,False,False,False,True,False,True

In [22]:
orders

,REFERENCE_NUMBER,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE
0,"[\r\n ""order1""\r\n]",2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
1,"[\r\n ""order2""\r\n]",2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
2,"[\r\n ""order3""\r\n]",2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
3,"[\r\n ""order4""\r\n]",2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
4,"[\r\n ""order5""\r\n]",2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL

In [23]:
offers = data_cleaning.change_to_date(offers, ["CREATED_ON_HQ"])
orders = data_cleaning.change_to_date(orders, ["ORDER_DATETIME_PST", "PICKUP_DEADLINE_PST"])

In [24]:
offers = data_cleaning.flatten_ref_num(offers)
orders = data_cleaning.flatten_ref_num(orders)

In [25]:
offers

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID
0,carrier1,order1,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True
1,carrier1,order2,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True
2,carrier1,order2,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True
3,carrier1,order3,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True
4,carrier2,order1,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True
5,carrier3,order3,2017-02-20 08:57:40,9159.0,pool,False,True,False,True,False,False,True,False,True
6,carrier2,order4,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True
7,carrier2,order5,2017-02-13 08:51:32,9288.0,quote,False,False,False,False,False,False,True,False,True

In [26]:
orders

,REFERENCE_NUMBER,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE
0,order1,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
1,order2,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
2,order3,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
3,order4,2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
4,order5,2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL

In [27]:
merged = data_cleaning.join_offers_orders(offers, orders)
merged

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE
0,carrier1,order1,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
1,carrier1,order2,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
2,carrier1,order2,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
3,carrier1,order3,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
4,carrier2,order1,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
5,carrier3,order3,2017-02-20 08:57:40,9159.0,pool,False,True,False,True,False,False,True,False,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
6,carrier2,order4,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
7,carrier2,order5,2017-02-13 08:51:32,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL

In [28]:
merged = merged.dropna()
merged

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE
0,carrier1,order1,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
1,carrier1,order2,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
2,carrier1,order2,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL
3,carrier1,order3,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
4,carrier2,order1,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL
5,carrier3,order3,2017-02-20 08:57:40,9159.0,pool,False,True,False,True,False,False,True,False,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
6,carrier2,order4,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL
7,carrier2,order5,2017-02-13 08:51:32,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL

In [29]:
merged = merged.sort_values("CREATED_ON_HQ", ascending=True)

In [30]:
merged = data_cleaning.is_weekend(merged, col="PICKUP_DEADLINE_PST", new_col="DEADLINE_ON_WEEKDAY")
merged

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE,DEADLINE_ON_WEEKDAY
0,carrier1,order1,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL,True
1,carrier1,order2,2017-02-07 11:54:13,9546.0,pool,True,False,False,False,False,False,False,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL,True
2,carrier1,order2,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL,True
3,carrier1,order3,2017-02-11 08:59:27,9159.0,pool,True,True,False,True,False,True,True,True,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True
4,carrier2,order1,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL,True
6,carrier2,order4,2017-02-13 08:51:28,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True
7,carrier2,order5,2017-02-13 08:51:32,9288.0,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True
5,carrier3,order3,2017-02-20 08:57:40,9159.0,pool,False,True,False,True,False,False,True,False,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True

In [31]:
# time remaining from when an order was made to the deadline
merged = data_cleaning.get_remaining_time(merged, past="ORDER_DATETIME_PST", future="PICKUP_DEADLINE_PST", new_col="GIVEN_HOURS")

# time remaining from when an offer was made to the deadline
merged = data_cleaning.get_remaining_time(merged, past="CREATED_ON_HQ", future="PICKUP_DEADLINE_PST", new_col="REMAINING_HOURS")

In [32]:
merged = data_cleaning.get_prorated_rate(merged, overwrite=True)
merged

,CARRIER_ID,REFERENCE_NUMBER,CREATED_ON_HQ,RATE_USD,OFFER_TYPE,SELF_SERVE,IS_OFFER_APPROVED,AUTOMATICALLY_APPROVED,MANUALLY_APPROVED,WAS_EVER_UNCOVERED,COVERING_OFFER,LOAD_DELIVERED_FROM_OFFER,RECOMMENDED_LOAD,VALID,ORDER_DATETIME_PST,PICKUP_DEADLINE_PST,DELIVERY_TIME_CONSTRAINT,ORIGIN_3DIGIT_ZIP,DESTINATION_3DIGIT_ZIP,APPROXIMATE_DRIVING_ROUTE_MILEAGE,PALLETIZED_LINEAR_FEET,FD_ENABLED,EXCLUSIVE_USE_REQUESTED,HAZARDOUS,REEFER_ALLOWED,STRAIGHT_TRUCK_ALLOWED,LOAD_BAR_COUNT,LOAD_TO_RIDE_REQUESTED,ESTIMATED_COST_AT_ORDER,TRANSPORT_MODE,DEADLINE_ON_WEEKDAY,GIVEN_HOURS,REMAINING_HOURS
0,carrier1,order1,2017-02-07 11:54:13,3134.507463,pool,True,False,False,False,False,False,False,True,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL,True,528.0,527.0
1,carrier1,order2,2017-02-07 11:54:13,6411.492537,pool,True,False,False,False,False,False,False,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL,True,387.0,385.0
2,carrier1,order2,2017-02-11 08:59:27,6340.846154,pool,True,True,False,True,False,True,True,True,True,2017-02-07 09:21:39,2017-02-23 13:00:00,NONE,920,921,2,45.0,True,True,False,False,True,0.0,True,1400,PTL,True,387.0,292.0
3,carrier1,order3,2017-02-11 08:59:27,2818.153846,pool,True,True,False,True,False,True,True,True,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True,361.0,290.0
4,carrier2,order1,2017-02-13 08:51:28,9288.000000,quote,False,False,False,False,False,False,True,False,True,2017-02-07 10:17:21,2017-03-01 11:00:00,SCHEDULE,920,921,2,22.0,True,True,False,True,True,0.0,True,1200,FTL,True,528.0,386.0
5,carrier2,order4,2017-02-13 08:51:28,9288.000000,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:33,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True,361.0,242.0
6,carrier2,order5,2017-02-13 08:51:32,9288.000000,quote,False,False,False,False,False,False,True,False,True,2017-02-08 09:45:39,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True,361.0,242.0
7,carrier3,order3,2017-02-20 08:57:40,9159.000000,pool,False,True,False,True,False,False,True,False,True,2017-02-08 09:45:30,2017-02-23 11:00:00,SCHEDULE,920,921,2,20.0,True,True,False,False,False,0.0,True,2300,FTL,True,361.0,74.0

In [33]:
merged = data_cleaning.get_coordinates(merged, col="ORIGIN_3DIGIT_ZIP", new_col="ORIGIN")
merged = data_cleaning.get_coordinates(merged, col="DESTINATION_3DIGIT_ZIP", new_col="DESTINATION")

DriverError: ./data/zip3/zip3.shp: No such file or directory

In [ ]:
merged = data_cleaning.extract_from_date(merged, col="ORDER_DATETIME_PST", new_col="ORDER")
merged = data_cleaning.extract_from_date(merged, col="PICKUP_DEADLINE_PST", new_col="DEADLINE")
merged = data_cleaning.extract_from_date(merged, col="CREATED_ON_HQ", new_col="OFFER")